* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background-color: #5662f6;
  border: 2px dotted #c3c3c3;
  flex: 1;
  min-width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  color: aliceblue;
  border-radius: 8px;
  padding: 10px 10px 0 10px;
  margin-bottom: 15px;
  z-index: 3;
}
.card__img {
  margin: 0 auto;
}

.card__header {
  margin: 5px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.card__header__name {
  flex: 1;
  font-size: 17px;
  color: #044387;
}
.card__header__code {
  font-size: 14px;
  color: #000;
}

.card__status {
  width: 100%;
}
.card__status__orange,
.card__status__tt {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7px;
}
.card__status__orange__img {
  padding-left: 4px;
  display: flex;
  justify-content: center;
}

.card__status__orange {
  margin-left: 7.5px;
}
.card__status__orange__address {
  margin-left: 12.5px;
}
.card__status__orange__status,
.card__status__tt__status {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  background-color: #c3c3c3;
  border-radius: 50%;
}
.card__status__orange__status {
  margin-left: 21px;
  background-color: #f5f5f5;
}

.alive {
  background-color: #37e268;
}

.dead {
  background-color: #fa1b49;
}
