* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background-color: #5662f6;
  border: 2px dotted red;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  color: aliceblue;
  border-radius: 8px;
  padding: 10px;
}
.card__img {
  margin: 0 auto;
}

.card__header {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.card__header__name {
  font-size: 22px;
  color: #044387;
}
.card__header__code {
  font-size: 16px;
}

.card__status__orange,
.card__status__tt {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7px;
}
.card__status__orange__img {
  margin-left: 5px;
}
.card__status__orange {
  margin-left: 7.5px;
}
.card__status__orange__address {
  margin-left: 15.5px;
}
.card__status__orange__status,
.card__status__tt__status {
  margin-left: 30px;
  width: 10px;
  height: 10px;
  background-color: #c3c3c3;
  border-radius: 50%;
}
.card__status__orange__status {
  margin-left: 27px;
}
