<app-navbar></app-navbar>
<app-update-form
  *ngIf="editing"
  (formSubmitEvent)="onFormSubmit($event)"
  (formCancelEvent)="onFormCancel($event)"
  [branchToEdit]="branchToEdit!"
></app-update-form>
<app-create-form
  *ngIf="creating"
  (formSubmitEvent)="onFormSubmit($event)"
  (formCancelEvent)="onFormCancel($event)"
></app-create-form>
<p *ngIf="branches.length == 0">Fetching Data...</p>
<div class="input">
  <button (click)="onToggleCreate()">+ Branch</button>
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (keyup)="search()"
    placeholder="Search for a branch"
  />
</div>
<div class="branch-container">
  <app-branch
    *ngFor="let branch of branches"
    [branch]="branch"
    (branchDeleteEvent)="onDelete($event)"
    (editBranchEvent)="onEdit($event)"
  ></app-branch>
</div>
